.articles-blog {
  position: relative;
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__container {
  }

  &__main-articles {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: -40px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.5px;
      background-color: #131612;
      bottom: -20px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__big-article {
    width: 63%;
    @media (max-width: 768px) {
      width: 100%;
      padding-bottom: 75px;
    }
  }

  &__big-article-content {
    display: block;
    width: 92%;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__big-article-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;

    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 31.2px;
      padding: 25px 0 10px;
    }
  }

  &__big-article-text {
    padding: 20px 0 30px;

    @media (max-width: 768px) {
      padding: 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 19.6px;
    }
  }

  &__big-article-img {
    overflow: hidden;
    @media (max-width: 768px) {
      order: -1;
    }
  }

  .big-article-img {
    width: 100%;
    transition: transform 0.7s cubic-bezier(0.24, 0.06, 0.45, 0.95) 0s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__small-articles {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    @media (max-width: 768px) {
      width: 100%;
      align-items: flex-start;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0.5px;
      height: 100%;
      left: 0;
      background-color: #131612;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__small-article {
    width: 86%;
    padding-bottom: 75px;

    @media (max-width: 768px) {
      width: 100%;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.5px;
        background-color: #131612;
        top: -35px;
      }
    }
  }

  &__small-article-top {
  }

  &__small-article-content {
  }

  &__small-article-img {
    overflow: hidden;
  }

  .sm-article-img {
    // display: block;
    width: 100%;
    transition: transform 0.7s cubic-bezier(0.24, 0.06, 0.45, 0.95) 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__small-article-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    padding: 25px 0 10px;

    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 31.2px;
    }
  }

  &__small-article-bottom {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.5px;
      background-color: #131612;
      top: -35px;
    }
  }
}

.articles-blog {
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 140px;
    position: relative;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  &__gallery-ellipse {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 100%;
    display: none;
  }

  &__gallery-item {
    display: flex;
    border-right: 0.5px solid #131612;

    @media (max-width: 768px) {
      border: none;

      &:nth-child(2) {
        grid-area: 1/1;
      }
      &:nth-child(5) {
        grid-area: 3/2;
      }
      &:nth-child(12) {
        grid-area: 6/1;
      }
    }

    &:nth-child(4n) {
      border-right: none;
    }
    border-top: 0.5px solid #131612;

    &:nth-child(-n + 4) {
      border-top: none;
    }
  }

  &__gallery-item-content {
    padding: 40px 0;
    width: 94%;
    margin: 0 auto;
  }

  &__gallery-item-img {
    overflow: hidden;
  }

  .gallery-img {
    width: 100%;
    transition: transform 0.7s cubic-bezier(0.24, 0.06, 0.45, 0.95) 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__gallery-item-title {
    padding: 25px 0 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
  }

  &__gallery-item-text {
  }

  &__gallery-item-svg {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 425px) {
      width: 68px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    font-family: Muller;
    font-size: 18px;
    line-height: 24.3px;
    gap: 25px;
    padding-bottom: 129px;

    .page-numbers {
      opacity: 0.5;
    }

    .next {
      opacity: 1;
    }

    .prev {
      opacity: 1;
    }

    .current {
      opacity: 1;
      border-bottom: 1px solid #131612;
    }
  }
}
