.banner-blog {
  position: relative;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  .circles-img {
    width: auto;
    position: absolute;
    top: 0;
    left: 10.5%;
  }

  &__container {
    padding: 166px 0 250px;

    @media (max-width: 768px) {
      padding: 109px 0 136px;
    }
  }

  &__content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: fit-content;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__title {
    padding-bottom: 15px;
    z-index: 1;

    @media (max-width: 768px) {
      padding-bottom: 60px;
    }
  }

  &__text {
    align-self: flex-end;

    @media (max-width: 768px) {
      width: 60%;
      align-self: flex-start;
    }
  }
}
