.banner-works {
  @media (max-width: 1024px) {
    background-image: url("../img/circles-works-mob.png");
    background-size: cover;
  }

  &__container {
    position: relative;

    .icon-y-line-works-banner {
      position: absolute;
      content: "";
      width: 7px;
      height: 199px;
      bottom: -91px;
      right: 121px;
      background-color: #ebff00;
      transform: translateX(50%);
      transition: 2s;
      font-size: 0;

      @media (max-width: 768px) {
        height: 76px;
        bottom: -30px;
      }
    }

    .icon-r-line-works-banner {
      position: absolute;
      content: "";
      width: 7px;
      height: 283px;
      bottom: 8px;
      right: 90px;
      background-color: #fb1010;
      transform: translateX(50%);
      transition: 2s;
      font-size: 0;

      @media (max-width: 768px) {
        height: 125px;
      }
    }
  }

  &__inner {
    padding: 167px 0 215px;
    margin-left: 100px;

    @media (max-width: 520px) {
      margin-left: 0;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  &__text {
    width: 375px;
    margin: 0 auto;

    @media (max-width: 520px) {
      width: 90%;
    }
  }
}
