.banner-works {
  &__container {
    position: relative;

    .icon-y-line-works-banner {
      position: absolute;
      content: "";
      width: 7px;
      height: 199px;
      bottom: -91px;
      right: 121px;
      background-color: #ebff00;
      transform: translateX(50%);
      transition: 2s;
      font-size: 0;
    }

    .icon-r-line-works-banner {
      position: absolute;
      content: "";
      width: 7px;
      height: 283px;
      bottom: 8px;
      right: 90px;
      background-color: #fb1010;
      transform: translateX(50%);
      transition: 2s;
      font-size: 0;
    }
  }

  &__inner {
    padding: 167px 0 215px;
    margin-left: 100px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  &__text {
    width: 375px;
    margin: 0 auto;
  }
}
