.banner-work {
  position: relative;
  background-color: #131612;
  color: #fff;
  fill: #fff;

  .header {
    transition: all 0.5s;
    &__burger {
      span {
        background-color: #fff;
      }
    }

    &._active {
      color: #131612 !important;
      fill: #131612 !important;

      .header__burger {
        span {
          background-color: #131612 !important;
        }
      }
    }
  }

  .btn {
    background-color: #fff;
    color: #131612;
  }

  &__container {
  }

  &__content {
    margin-left: 100px;
    padding: 180px 0 103px;

    @media (max-width: 1000px) {
      margin-left: 0;
    }

    @media (max-width: 620px) {
      padding: 130px 0 70px;
    }
  }

  &__type {
    color: #ebff00;
    font-weight: 500;
    position: relative;

    @media (max-width: 1000px) {
      margin-left: 100px;
    }

    .icon-work-banner-line {
      position: absolute;
      left: -500px;
      top: 50%;
      transform: translateY(-50%) translateX(-20px);
      height: 3px;
      width: 500px;
      background-color: #ebff00;
      font-size: 0;

      @media (max-width: 1000px) {
        width: 80px;
        left: -80px;
      }
    }
  }

  &__middle-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 620px) {
      display: block;
    }
  }

  &__title {
    position: relative;
    display: flex;
    width: fit-content;
  }

  &__title-svg {
    position: absolute;
    top: -20%;
    right: 0;

    svg {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 620px) {
      top: -40%;
      right: 3%;
    }
    @media (max-width: 425px) {
      top: -4.5%;
      right: 5.5%;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__title-text {
    @media (max-width: 620px) {
      font-size: 60px;
      line-height: 78px;
    }
  }

  &__title-year {
    color: #ebff00;
    align-self: flex-end;
    transform: translateY(-20px);
    margin-left: 25px;

    @media (max-width: 425px) {
      font-size: 12px;
      line-height: 15.6px;
      margin-left: 13px;
    }
  }

  &__link {
    border-bottom: 1px solid #fff;

    &::before {
      background-color: #131612;
    }

    &::after {
      background-color: #fff;
      bottom: -0.5px;
    }

    @media (max-width: 1400px) {
      display: none;
    }
  }

  &__link-mob {
    display: none;

    @media (max-width: 1400px) {
      display: inline-block;
      margin-top: 85px;
      border-bottom: 1px solid #fff;

      &::before {
        background-color: #131612;
      }

      &::after {
        background-color: #fff;
      }
    }
  }

  &__link-text {
  }

  &__tags {
    margin-top: 15px;
    display: flex;
    gap: 15px;

    @media (max-width: 425px) {
      flex-wrap: wrap;
    }
  }

  &__tag {
    // margin-right: 15px;
  }

  &__img {
  }

  .work-img {
    width: 100%;
    @media (max-width: 620px) {
      height: 200px;
      object-fit: cover;
    }
  }
}
