.clients {
  position: relative;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__container {
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;
    padding-bottom: 65px;
    margin-left: 100px;
  }

  &__brandwall {
    transition: 1s;
    // width: 53%;
  }

  .clients-brandwall-img {
    width: 200%;
    position: relative;
    z-index: 2;
  }

  .clients-ellipse {
    position: absolute;
    top: -30%;
    right: -30%;
    width: auto;
  }
}
