.footer {
  border-top: 0.5px solid #a7aea4;
  position: relative;
  background-color: inherit;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__string {
    position: absolute;
    z-index: 2;
    top: 60px;
    width: 200%;
    left: 0;
    transition: 1s;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 265px 0 62px;
  }

  &__confidentiality {
  }

  &__arrow-up {
    display: block;
    padding-bottom: 40px;
    position: relative;

    .arrow-elipse {
      position: absolute;
      top: -75%;
      left: -40%;
    }
  }

  &__confidentiality-text {
  }

  &__confidentiality-caption {
    font-family: "Muller";
    width: fit-content;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: #a7aea4;
    border-bottom: 0.5px solid #a7aea4;
    margin-bottom: 10px;
  }

  &__confidentiality-copyright {
    font-family: "Muller";
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
  }

  &__contacts {
    text-align: end;
  }

  &__contacts-text {
    padding-bottom: 10px;
  }

  &__contacts-mail {
    display: block;
    padding-bottom: 10px;
  }

  &__contacts-tel {
    display: block;
    padding-bottom: 30px;
  }

  &__media-icons {
    padding-left: 20px;
  }
}
