.galery-about-us {
  position: relative;
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }
  &__container {
    padding-top: 230px;
    display: flex;
    flex-direction: column;

    @media (max-width: 620px) {
      padding-top: 135px;
    }
  }

  &__element-vertical {
    width: 75%;
    margin-left: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 60px;

    @media (max-width: 620px) {
      width: 100%;
      display: block;
      margin-left: 0;
      padding-bottom: 40px;
    }
  }

  &__element-vertical-img {
    width: 77%;
    @media (max-width: 620px) {
      width: 100%;
    }
  }

  &__element-eye {
    @media (max-width: 620px) {
      display: none;
    }
  }

  .vertical-img {
    width: 100%;
  }

  &__two-elements {
    display: flex;
    justify-content: space-between;
    @media (max-width: 620px) {
      flex-direction: column-reverse;
    }
  }

  &__element-horisontal-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 620px) {
      width: 100%;
      display: block;
    }
  }

  &__element-horisontal-left-img {
  }

  .horisontal-l-img {
    width: 100%;
  }

  &__element-horisontal-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    @media (max-width: 620px) {
      width: 100%;
      display: block;
    }
  }

  &__element-horisontal-right-img {
    padding-bottom: 50px;
  }

  .horisontal-r-img {
    width: 100%;
  }
}
