.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 1;
  // background-color: #f3f3f3;

  &__container {
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 13px 0;
    justify-content: space-between;
  }

  &__logo {
  }

  &__content {
    display: flex;
    width: 57.6%;
    align-items: center;
    justify-content: space-between;

    // @media (max-width: 1440px) {
    //   width: 70%;
    // }
  }

  &__nav {
    width: 46%;

    &__list {
      // width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 20.8px;
    }
  }

  &__language {
    // width: 6%;
  }

  &__btn {
    color: #ffffff;
    background-color: #131612;
    width: 38%;

    @media (max-width: 1440px) {
      width: auto;
    }
  }
}
