@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*="icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

.icon-line-services:before {
  content: "\e919";
}
.icon-arrow:before {
  content: "\e907";
}
.icon-clip:before {
  content: "\e908";
}
.icon-lang-down:before {
  content: "\e909";
}
.icon-lang-up:before {
  content: "\e90a";
}
.icon-line-banner-home:before {
  content: "\e90b";
}
.icon-line-works-gal:before {
  content: "\e90c";
}
.icon-r-line-works-banner:before {
  content: "\e90d";
}
.icon-red-dot:before {
  content: "\e90e";
}
.icon-services-banner-line:before {
  content: "\e90f";
}
.icon-work-banner-line:before {
  content: "\e910";
}
.icon-y-line-works-banner:before {
  content: "\e911";
}
.icon-behance:before {
  content: "\e912";
}
.icon-dribble:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-linkedin:before {
  content: "\e916";
}
.icon-logo:before {
  content: "\e917";
}
.icon-404:before {
  content: "\e918";
}

// .icon-new .path1:before {
//   content: "\e900";
//   color: rgb(235, 255, 0);
// }
// .icon-new .path2:before {
//   content: "\e901";
//   margin-left: -1em;
//   color: rgb(0, 0, 0);
// }
// .icon-new .path3:before {
//   content: "\e902";
//   margin-left: -1em;
//   color: rgb(0, 0, 0);
// }
// .icon-new .path4:before {
//   content: "\e903";
//   margin-left: -1em;
//   color: rgb(0, 0, 0);
// }
// .icon-404:before {
//   content: "\e904";
// }
// .icon-arrow:before {
//   content: "\e905";
// }
// .icon-behance:before {
//   content: "\e906";
// }
// .icon-clip:before {
//   content: "\e907";
// }
// .icon-dribble:before {
//   content: "\e908";
// }
// .icon-facebook:before {
//   content: "\e909";
// }
// .icon-instagram:before {
//   content: "\e90a";
// }
// .icon-lang-down:before {
//   content: "\e90b";
// }
// .icon-lang-up:before {
//   content: "\e90c";
// }
// .icon-line-banner-home:before {
//   content: "\e90d";
// }
// .icon-line-services:before {
//   content: "\e90e";
// }
// .icon-line-works-gal:before {
//   content: "\e90f";
// }
// .icon-linkedin:before {
//   content: "\e910";
// }
// .icon-logo:before {
//   content: "\e911";
// }
// .icon-r-line-works-banner:before {
//   content: "\e912";
// }
// .icon-red-dot:before {
//   content: "\e913";
// }
// .icon-services-banner-line:before {
//   content: "\e914";
// }
// .icon-work-banner-line:before {
//   content: "\e915";
// }
// .icon-y-line-works-banner:before {
//   content: "\e916";
// }
