.our-services {
  &__container {
  }

  &__inside {
    width: 84%;
    margin: 0 auto;
  }

  &__title {
    padding-bottom: 90px;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 50%;
    position: relative;

    &:not(:last-child) {
      padding-bottom: 140px;
    }

    &:hover {
      .elipse {
        opacity: 1;
        transition: all ease 0.5s;
      }
    }
  }

  .elipse {
    position: absolute;
    top: -50%;
    left: 0;
    opacity: 0;

    // &:hover {
    //   opacity: 1;
    //   transition: all ease 0.5s;
    // }
  }

  &__item-title {
    padding-bottom: 10px;
  }

  &__item-content {
    display: flex;
  }

  &__item-icon {
  }

  &__item-paragraph {
    padding-left: 20px;
  }

  &__item2 {
    align-self: flex-end;
  }

  &__item4 {
    align-self: flex-end;
  }
}
