.read-also {
  position: relative;
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__container {
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;
    padding: 55px 0 70px;

    @media (max-width: 768px) {
      font-size: 42px;
      line-height: 54.6px;
      padding-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0 190px;
    border-top: 0.5px solid #131612;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      padding-bottom: 90px;
    }
  }

  &__item {
    display: block;
  }

  &__item-content {
    padding: 0;
    margin: 10px;

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }

  &__item-img {
    overflow: hidden;

    .gallery-img {
      transition: transform 0.7s cubic-bezier(0.24, 0.06, 0.45, 0.95) 0s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__item-title {
    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 18px;
      line-height: 23.4px;
    }
  }

  &__item-text {
  }
}
