.screens-work {
  position: relative;
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__container {
  }

  &__imgs {
  }

  &__img {
    margin: 40px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 425px) {
      margin: 20px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .screen-work {
    width: 100%;
  }
}
