.slider-about-us {
  background-color: #131612;
  padding: 80px 0;
  color: #fff;

  &__item {
  }

  &__name {
    font-weight: 500;
    font-size: 28px;
    line-height: 36.4px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 23.4px;
    }
  }

  &__position {
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    color: #a7aea4;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 15.6px;
    }
  }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
