.text-work {
  position: relative;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Rectangle.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  &__container {
    padding: 150px 100px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 38%;
  }

  &__text-title {
    margin-bottom: 35px;
  }

  &__text-paragraph {
  }
}
